$micro-green: #33af99;
$micro-green-light: lighten($micro-green, 25%);

//scheme 1
$scheme1-1: rgb(166, 207, 109);
$scheme1-2: rgb(218, 18, 71);
$scheme1-3: rgb(227, 82, 60);
$scheme1-4: rgb(114, 189, 169);

//scheme 2
$scheme2-1: rgb(251, 230, 11);
$scheme2-2: rgb(78, 168, 192);
$scheme2-3: rgb(251, 26, 250);

//scheme 3
$scheme3-1: rgb(243, 233, 234);
$scheme3-2: rgb(146, 62, 65);
$scheme3-3: rgb(222, 67, 31);


//scheme 4
